doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width")
        title #{title}
    body
        header
            h1 Lab 4
        main
            block content