extends layout 

block layout-content 
    div.content 
        h1.page-title About
        p.about-desc This mock website has been created in fulfillment of JavaScript Lab 2 for the Web Development program at Humber College.