extends layout

block layout-content 
    div.content
        h1.page-title Welcome to Ricata Hotels! 
        p.title-content Get the best experience away from home at an affordable price.
    
    div.container
        h2 About
        .row
            .col-1
                //- SOURCE OF IMAGE: https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?cs=srgb&dl=pexels-pixabay-258154.jpg&fm=jpg 
                img.about-img(src="/public/images/hotel.jpg", alt="Image of the Ricata Hotel")
            
            .col-2 
                //- CONTENT MAINLY DERIVED FROM: https://www.torontodonvalleyhotel.com/
                p Ricata Hotels: Located in the downtown Toronto is an urban retreat with affordable accommodations. Come discover why we're an idyllic place to start and end your trip in Toronto.
                p Guests arriving at the hotel are welcomed into bright, elegant, natural light-filled space overlooking the lush surroundings. Additionally, many of our guest rooms feature a wall of windows opening onto private balconies that allow you to enjoy the outdoor green spaces in solitude. 
                p Built by world-renowned architect Raymond Moriyama, the hotel was designed to be a tranquil and serene “resort within the city.” Floor-to-ceiling windows open to picturesque views of the ravine. An outdoor pool, a spacious fitness area, and a beautiful glass-domed indoor pool offer downtime relaxation. Our onsite DV bar | bistro offers a welcoming gathering spot for unwinding with colleagues or catching up with friends over cocktails and tasty comfort food.   
        p.descCont When you stay at Ricata Hotels you'll feel worlds apart from city bustle and distractions, and yet our central location and easy access to major highways like the Don Valley Parkway make us the ideal business and social hub and puts you close to some of the best attractions in North York, Toronto, Ontario. To make any trip that much better, we also offer travel packages associated with some fantastic local attractions to help you save on your stay. 
        
